#container {
    background: rgb(10, 88, 99) center center
      no-repeat;
    background-size: cover;
  }
  
  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }