<!DOCTYPE html>
<html lang="en">

<head>

    <title>Update </title>
</head>

<body>
    <!-- Default form register -->
    <form class="text-center border border-light p-5" >


        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" id="firstName"  class="form-control" value = {{owners.firstName}} name="firstName" [(ngModel)] = "owners.firstName" >
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="lastName" name="lastName" class="form-control" value = {{owners.lastName}} [(ngModel)] = "owners.lastName"  >
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="address" name="address" class="form-control" value = {{owners.address}}  [(ngModel)] = "owners.address" >
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" value = {{owners.phoneNumber}} [(ngModel)] = "owners.phoneNumber">
            </div>
        </div>
  
        <button mdbBtn color="info" block="true" class="btn btn-primary ml-2" type="submit" (click) ="updateOwner()" >Update</button>

    </form>

</body>

</html>